<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.qdpm.operations.utility.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/sarka/IdeaProjects/AutomationFramework/src/test/java/com/tricentis/testcases/motorcycle/motorcycle">
        <classes>
            <class name="com.tricentis.testcases.motorcycle.motorcycle.MotorCycle_ErrorValidation">
                <methods>
                    <include name="errorMessage_EnterVehicleDataPage"/>
                </methods>
            </class>
            <class name="com.tricentis.testcases.motorcycle.motorcycle.MotorCycle_InsuranceCalculationE2EWorkFlow">
                <methods>
                    <include name="insuranceCalculate_Honda"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>